VITE_API_BASE=http://localhost:8080
VITE_SIGNALR_BASE=http://localhost:8080/hubs/notifications
VITE_WHEP_BASE=http://localhost:8889
VITE_WS_BASE=ws://localhost:8080
VITE_MAP_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
VITE_ENV=development
